<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
<body>
    <br>
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="from-label">Title</label>
            <input name="listing[title]" placeholder="Add a cathy title" type="text" class="form-control" required>
            <div class="valid-feedback">Title looks Great!</div>
            <div class="invalid-feedback">Please Enter Valid Title!</div>

        </div>

        <div class="mb-3">
            <label for="description" class="from-label">Description</label>
            <textarea name="listing[description]" class="form-control" required></textarea>
            <div class="invalid-feedback">Please Enter Valid Description!</div>

        </div>

        <div class="mb-3">
            <label for="image" class="from-label">Upload Image</label>
            <input name="listing[image]" type="file" class="form-control" required>
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="from-label">Price</label>
                <input name="listing[price]" placeholder="1200" class="form-control" required>
                <div class="invalid-feedback">Please Enter Valid Price!</div>
            </div>
    
            <div class="mb-3 col-md-8">
                <label for="country" class="from-label">Country</label>
                <input name="listing[country]" placeholder="India" type="text" class="form-control" required>
                <div class="valid-feedback">Great Country!</div>
                <div class="invalid-feedback">Please Enter Valid Country!</div>
            </div>
        </div>
        

        <div class="mb-3">
            <label for="location" class="from-label">Location</label>
            <input name="listing[location]" placeholder="Enter Location" type="text" class="form-control" required>
            <div class="valid-feedback">Nice Location</div>
            <div class="invalid-feedback">Please Enter Valid Location!</div>
        </div>
        <button class="btn btn-dark add-btn">Add</button>
        <br><br>
    </form>
</body>
</div>
</div>